@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), url("../fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "HelveticaNeueLTPro";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/HelveticaNeueLTProLt.otf") format("opentype");
}

@font-face {
  font-family: "HelveticaNeueLTPro";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/HelveticaNeueLTProMd.otf") format("opentype");
}

@font-face {
  font-family: "HelveticaNeueLTPro";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/HelveticaNeueLTProRoman.otf") format("opentype");
}

@font-face {
  font-family: "Merriweather";
  font-style: italic;
  font-weight: 300;
  src: url("../fonts/Merriweather-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Montserrat-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.header {
  text-align: center;
  height: 629px;

  &__heading {
    margin: 0;
    font-family: 'HelveticaNeueLTPro';
    font-size: 44px;
    line-height: 44px;
    font-weight: 300;
    letter-spacing: 0.02em;
    color: #1d1e1f;
  }

  &__info {
    margin-top: 207px;
  }



  &__lead {
    margin-top: 8px;
    font-family: Merriweather, serif;
    font-size: 16px;
    line-height: 17px;
    font-weight: 300;
    font-style: italic;
    letter-spacing: 0.03em;
    color: #898888;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 43px auto 0;
    width: 188px;
    height: 57px;
    border: 1px solid black;
    font-family: Montserrat;
    font-size: 13px;
    line-height: 17px;
    font-weight: 400;
    letter-spacing: 0.04em;
    color: #000000;
    text-decoration: none;
  }
}

.nav {
  width: 620px;
  margin: 0 auto;
}

.menu {
  list-style: none;
  padding-left: 0;
  margin-left: 36px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__item {
    & a {
      text-decoration: none;
      font-family: Roboto;
      font-size: 13px;
      line-height: 17px;
      font-weight: 400;
      letter-spacing: 0.04em;
      color: #989696;
    }

    &_active a {
      color: #010101;
    }
  }
}

.logo {
  margin: 0 16px;
}

.about {
  padding-top: 128px;
  padding-bottom: 271px;
  background-color: #1d1d1d;
  background: url(../img/buildings__white.png) center bottom repeat-x, url(../img/buildings__black.png) center calc(100% - 16px) repeat-x, #1d1d1d;
 
  
  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
    gap: 178px;
    padding-left: 94px;
    padding-right: 94px;
  }

  &__card {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: center;
    gap: 27px;
    padding: 14px;
    color: #fefefe;
    max-width: 417px;
    height: 276px;
    background-color: #181818;
  }

  &__heading {
    text-align: center;
    margin: 0;
    font-family: 'Helvetica Neue Pro';
    font-size: 48px;
    line-height: 26px;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #fefefe;
  }

  &__text{
    margin: 0;
    font-family: Montserrat;
    font-size: 15px;
    line-height: 22px;
    font-weight: 300;
    letter-spacing: 0.02em;
    color: #b7b7b7;
  }
}

.team {
  background-color: #ffffff;
  padding-top: 138px;
  padding-bottom: 150px;
  text-align: center;
  
  &__heading {
    margin: 0;
    font-family: "HelveticaNeueLTPro";
    font-size: 34px;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #1d1e1f;
  }

  &__lead {
    margin-top: 13px;
    font-family: Merriweather;
    font-size: 16px;
    font-weight: 300;
    font-style: italic;
    letter-spacing: 0.02em;
    color: #898888;
  }

  &__members {
    display: flex;
    justify-content: center;
    gap: 232px;
  }
  
  &__item {

  }

  &__img{
    height: 170px;
    width: 170px;
    border-radius: 50%;
  }
}