@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: local("Roboto"),
        url("../fonts/Roboto-Regular.ttf") format("ttf");
}

@font-face {
    font-family: "HelveticaNeueLTPro";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/HelveticaNeueLTProLt.otf") format("otf");
}

@font-face {
    font-family: "HelveticaNeueLTPro";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/HelveticaNeueLTProMd.otf") format("otf");
}

.prob {
    width: 200px;
    height: 200px;
    background-color: #454545;
    font-family: Roboto;
    font-size: 32px;
}